<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_world_tf" args="0 0 0 0 0 0 world map" />
    <node pkg="coverage_utils" type="coverage_utils_node" name="coverage_utils"  output="screen" >
        <!-- define your input file path here, an example is shown in config/input.txt -->
        <!-- first line is # of objects and input channel (i.e. 2, 1 for x and 1 for y), the rest lines are x y positions of each object  -->
        <param name="input_file_path" value="$(find coverage_utils)/config/input.txt"/>
    </node>
</launch>
