<launch>
    <arg name="robot" default="$(optenv ROBOT_NAME quadrotor)"/>
    <group ns="$(arg robot)">
        <include file="$(find ouster_ros)/launch/os1_driver.launch">
            <arg name="os1_hostname" value="$(env OS1_HOSTNAME)"/>
            <arg name="os1_udp_dest" value="$(env OS1_UDP_DEST)"/>
            <arg name="lidar_mode" value="$(env OS1_LIDAR_MODE)"/>
        </include>

        <include file="$(find ouster_ros)/launch/os1_decoder.launch">
            <arg name="full_sweep" value="True"/>
        </include>
    </group>
</launch>
