<?xml version="1.0" encoding="UTF-8"?>


<launch>
	<arg name="robot" default="quadrotor"/>
	<arg name="launch_throttler" default="false"/>

	<group if="$(arg launch_throttler)"> 
    <include file="$(find real_experiment_launch)/launch/throttle_odom_img.launch">
      <arg name="robot" value="$(arg robot)"/>
		<arg name="throttled_topic_high" value="odom_throttled_high"/>
		<arg name="throttled_hz_high" value="100"/>
		<arg name="throttled_topic_low" value="odom_throttled_low"/>
		<arg name="throttled_hz_low" value="1"/>
   </include>
	</group>

	<group ns="$(arg robot)"> 
	  <node pkg="publish_car_det" type="pub_car_det_node" name="pub_odom_on_car_det_node" output="screen" required="true">
    <remap from="~detection" to="/detection_proc/detections"/>
		<remap from="~odom_throttled" to="odom_throttled_low"/>
		<remap from="~odom_on_detection" to="odom_on_detection"/>
	  </node>
	</group>
</launch>




