<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="max_horizon" default="5"/>

  <node pkg="state_machine" type="path_replanner" name="replanner" output="screen">
    <param name="max_horizon" value="$(arg max_horizon)"/>
    <remap from="~epoch" to="epoch"/>
    <remap from="~plan_path" to="tpplanner/plan_path"/>
    <remap from="~execute_path" to="trackers_manager/execute_path"/>
    <remap from="~position_cmd" to="position_cmd"/>
  </node>
</launch>