<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot" default="$(optenv ROBOT_NAME quadrotor)"/>
    <arg name="takeoff_height" default="5"/>
    <arg name="max_horizon" default="5"/>

    <group ns="$(arg robot)">
        <include file="$(find state_machine_launch)/launch/smach.launch">
            <arg name="takeoff_height" value="$(arg takeoff_height)"/>
        </include>

    ##### motion primitive replanner#####
    <node pkg="fla_state_machine"
      type="local_global_replan_server"
      name="local_global_replan_server"
      output="screen">
		  <rosparam file="$(find control_launch)/config/tracker_params_mp.yaml"/>
      <remap from="~plan_local_trajectory" to="local_plan_server/plan_local_trajectory"/>
      <remap from="~plan_global_path" to="global_plan_server/plan_global_path"/>
      <remap from="~execute_trajectory" to="trackers_manager/execute_trajectory"/>
      <remap from="~epoch" to="trackers_manager/epoch"/>
      <remap from="~position_cmd" to="position_cmd"/>
    </node>
    </group>
</launch>
