<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- robot name -->
  <arg name="robot" default="quadrotor" />  
  <!-- robot base-link name -->
  <arg name="robot_base_link" default="$(arg robot)/base_link"/> 
  <!-- lidar's frame name in the tf tree -->
  <arg name="lidar_frame" default="os1_lidar"/>
  <!-- mass of the robot -->
  <arg name="mass" default="1.83" /> 
  <!-- point cloud topic name -->
  <arg name="lidar_cloud_topic" default="/falcon4/os1_cloud_node/points" />
  <!-- robot odometry topic name -->
  <arg name="gt_odom" default="ground_truth/odom"/> 
  <!-- use dispersion based motion planning algorithm (only for internal use) --> 
  <arg name="min_dispersion_planner" default="false" />
  <!-- if use onboard sensing, set it to be true and set odom to be ukf_odom /> -->
  <arg name="onboard_sensing" default="false"/>
  

  <!-- launch the Gazebo simulator --> 
  <arg name="launch_sim" default="true"/>
  <!-- robot takeoff height /> -->
  <arg name="takeoff_height" default="1.0"/>
  <!-- robot initial spawn positions -->
  <arg name="x" default="1"/>
  <arg name="y" default="1"/>
  <arg name="z" default="1.0"/>
  <arg name="yaw" default="-0.0"/>
  <!-- control gains config file -->
  <arg name="gains_file" default="$(find gazebo_utils)/config/falcon4_os1_so3_gains.yaml"/>
  <!-- several example world, check out mrsl_quadrotor/mrsl_quadrotor_description/worlds for all examples --> 
  <!-- example 1: small forest --> 
  <arg name="world_model" default="forest0"/>
  <!-- example 2: large forest --> 
  <!-- <arg name="world_model" default="forest_Large"/> -->
  <!-- example 3: simple pillars --> 
  <!-- <arg name="world_model" default="pillars"/> -->

  <include if="$(arg launch_sim)"
    file="$(find gazebo_utils)/launch/simulation.launch">
    <arg name="odom" value="$(arg gt_odom)"/>  
    <arg name="robot" value="$(arg robot)"/>
    <arg name="world_model" value="$(arg world_model)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>



  <!-- publishes tfs -->
  <group ns="$(arg robot)">
      <!-- robot/map to map   -->
      <!-- (need this because other modules use robot/map as map_frame_id)   -->
      <node pkg="tf2_ros" type="static_transform_publisher"
        name="$(arg robot)_map_map_tf"
        args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg robot)/map map"/>

      <!-- map to robot   -->
      <node name="$(arg robot)_odom_to_tf"
        pkg="mrsl_quadrotor_utils"
        type="msg_to_tf"
        output="screen">
        <remap from="~msg" to="odom"/>
      </node>

      <!-- robot_base_link to robot -->
      <!-- (need this because other modules use robot as robot_frame_id) -->
      <node pkg="tf2_ros" type="static_transform_publisher"
        name="$(arg robot)_base_link_tf"
        args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg robot_base_link) $(arg robot)"/>

      <!-- robot to lidar  -->
      <node pkg="tf2_ros" type="static_transform_publisher"
        name="$(arg robot)_lidar_tf"
        args="0.0 0.0 0.1 0.0 0.0 0.0 $(arg robot) $(arg lidar_frame)"/>

      <!-- map (SLAM reference frame) to odom (odometry reference frame) tf, which is initialized to be identity since initial drift of odometry is 0 -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_odom" args="0 0 0 0 0 0 $(arg robot)/map $(arg robot)/odom"/>

  </group>


  <include file="$(find state_machine_launch)/launch/system_mp.launch">
    <arg name="onboard_sensing" value="$(arg onboard_sensing)" />
    <arg name="robot" value="$(arg robot)" />
    <arg name="lidar_frame" value="$(arg lidar_frame)"/>
    <arg name="lidar_cloud_topic" value="$(arg lidar_cloud_topic)" />
    <arg name="mass" value="$(arg mass)" />
    <arg name="min_dispersion_planner" value="$(arg min_dispersion_planner)" />
    <arg name="takeoff_height" value="$(arg takeoff_height)" />
    <arg name="gains_file" value="$(arg gains_file)"/>
  </include>

  <include file="$(find client_launch)/launch/client.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

</launch>
