<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot" default="$(optenv ROBOT_NAME quadrotor)"/>
    <arg name="real_robot" default="false"/>
    <arg name="use_mp" default="false"/>
    <arg name="min_dispersion_planner" default="false"/>
    <arg name="odom" default="odom"/>

    <!-- lidar_frame arg is only used when real_robot is true, otherwise the mapper will just use the same frame as the point cloud in simulator -->
    <arg name="lidar_frame" default=""/>
    <arg name="mapper_config" default="$(find map_plan_launch)/config/mapper.yaml"/>
    <arg name="planner_config" default="$(find control_launch)/config/tracker_params_mp.yaml"/>
    <arg name="cloud" default="lidar"/>

    <group ns="$(arg robot)">
        <include file="$(find map_plan_launch)/launch/mapper.launch">
            <arg name="odom_frame" value="$(arg robot)/odom"/>
            <arg name="map_frame" value="$(arg robot)/map"/>
            <arg name="lidar_frame" value="$(arg lidar_frame)"/>
            <arg name="real_robot" value="$(arg real_robot)"/>
            <arg name="mapper_config" value="$(arg mapper_config)"/>
            <arg name="cloud" value="$(arg cloud)"/>
        </include>
    </group>

    <group ns="$(arg robot)" unless="$(arg use_mp)">
        <include file="$(find map_plan_launch)/launch/planner.launch">
        </include>
    </group>

    <group ns="$(arg robot)" if="$(arg use_mp)">
        <include file="$(find map_plan_launch)/launch/mp_planner.launch">
            <arg name="planner_config" value="$(arg planner_config)" />
            <arg name="odom" value="$(arg odom)" />
            <arg name="min_dispersion_planner" value="$(arg min_dispersion_planner)" />
        </include>
    </group>
</launch>
