<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- use nice to set low priority for planner -->
  <arg name="prefix" value="nice -n 2"/>
  <arg name="odom" default="odom"/>
  <arg name="min_dispersion_planner" default="false"/>
  <arg name="planner_config" default="$(find control_launch)/config/tracker_params_mp.yaml"/>
  
    ##### planning server#####
    <node pkg="action_planner"
      type="global_plan_server"
      name="global_plan_server"
      output="screen"
      launch-prefix="$(arg prefix)">
      <rosparam file="$(arg planner_config)"/>
      <remap from="~odom" to="$(arg odom)"/>
      <remap from="~global_voxel_map" to="mapper/global_voxel_map"/>
    </node>

    <!-- If NOT use minimum dispersion motion primitive planner, launch local motion primtive planner. Otherwise, launch planner in a separate file -->
    <group unless="$(arg min_dispersion_planner)">
      <node pkg="action_planner"
        type="local_plan_server"
        name="local_plan_server"
        output="screen"
        launch-prefix="$(arg prefix)">
        <rosparam file="$(arg planner_config)"/>
        <remap from="~local_voxel_map" to="mapper/local_voxel_map"/>
      </node>
    </group>  
</launch>
