<launch>
  <arg name="mav_name" default="f250_ariel"/>
  <arg name="mav_id" default="1"/>
  <arg name="mav_type" default="hummingbird"/>
  <arg name="world_frame_id" default="dragonfly67/odom"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="1.45"/>
  <arg name="nodelet_manager_name" default="nodelet_manager_control"/>
  <arg name="odom_topic" default="/dragonfly67/quadrotor_ukf/control_odom"/>

  <arg name="random_map" default="false"/>
  <arg name="vicon_map" default="true"/>
  <arg name="file_map" default="false"/>


  <arg name="initial_position/x" default="0.0"/>
  <arg name="initial_position/y" default="1.0"/>
  <arg name="initial_position/z" default="0.0"/>

  <arg name="color/r" default="0.0"/>
  <arg name="color/g" default="0.0"/>
  <arg name="color/b" default="1.0"/>
  <arg name="color/a" default="0.7"/>

  <arg name="map_frame_id" default="map"/>
  <arg name="map_size_x" default="20"/>
  <arg name="map_size_y" default="10"/>
  <arg name="map_size_z" default="5"/>
  <arg name="map_x_origin" default="-10.0"/>
  <arg name="map_y_origin" default="-5.0"/>
  <arg name="map_z_origin" default="0.0"/>

  <arg name="mapper_config" default="$(find map_plan_launch)/config/mapper.yaml"/>
  <arg name="planner_config" default="$(find control_launch)/config/tracker_params_mp.yaml"/>
  <arg name="viz" default="true"/>

  <arg name="point_cloud" default="/global_cloud"/>

  <!-- Control stuff -->
  <include file="$(find kr_mav_launch)/launch/example_control.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="mass" value="$(arg mass)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="mav_type" value="$(arg mav_type)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>


  <group ns="$(arg mav_name)">

    <!-- Simulator -->
    <include file="$(find kr_mav_launch)/launch/sim.launch" if="$(arg sim)">
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="mav_type" value="$(arg mav_type)"/>
      <arg name="mass" value="$(arg mass)"/>
      <arg name="world_frame_id" value="$(arg world_frame_id)"/>
      <arg name="initial_position/x" value="$(arg initial_position/x)"/>
      <arg name="initial_position/y" value="$(arg initial_position/y)"/>
      <arg name="initial_position/z" value="$(arg initial_position/z)"/>
      <arg name="color/r" value="$(arg color/r)"/>
      <arg name="color/g" value="$(arg color/g)"/>
      <arg name="color/b" value="$(arg color/b)"/>
      <arg name="color/a" value="$(arg color/a)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <!-- Serial communication for real robot -->
    <include file="$(find kr_mav_launch)/launch/asctec_comms.launch" unless="$(arg sim)">
      <arg name="device" value="/dev/ttyUSB0"/>
      <arg name="slow_baud_rate" value="$(arg slow_baud_rate)"/>
      <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    </include>
  
  </group>

    <include file="$(find map_plan_launch)/launch/mapper.launch">
        <arg name="odom_frame" value="$(arg world_frame_id)"/>
        <arg name="map_frame" value="$(arg world_frame_id)"/>
        <arg name="mapper_config" value="$(arg mapper_config)"/>
        <arg name="cloud" value="$(arg point_cloud)"/>

        <param name="map/x_size"     value="$(arg map_size_x)" />
        <param name="map/y_size"     value="$(arg map_size_y)" />
        <param name="map/z_size"     value="$(arg map_size_z)" />
        <param name="map/x_origin"   value="$(arg map_x_origin)"/>
        <param name="map/y_origin"   value="$(arg map_y_origin)"/>
        <param name="map/z_origin"   value="$(arg map_z_origin)"/>

    </include>


    <node pkg="action_planner"  type="local_plan_server"  name="local_plan_server"  output="screen"  respawn="true">
      <rosparam file="$(arg planner_config)"/>
      <remap from="~local_voxel_map" to="mapper/local_voxel_map"/>
      <remap from="~local_noinfla_voxel_map" to="mapper/local_voxel_no_inflation_map"/>
      <rosparam file="$(find gcopter)/config/global_planning.yaml" command="load" />

      <remap from="~tracker_cmd"   to="/$(arg mav_name)/trackers_manager/poly_tracker/PolyTracker/goal"/>
      <remap from="~tracker_client"   to="/$(arg mav_name)/trackers_manager/poly_tracker/PolyTracker"/>
      <param name="poly_srv_name"  value="/$(arg mav_name)/mav_services/poly_tracker"/>

    </node>



   <!-- Map Settings -->

    <!-- 1. Random map -->
    <group if="$(arg random_map)">
      <node pkg ="param_env" name ="structure_map" type ="structure_map" output = "screen">    
        <!-- this is the map init position, not the odom-->
        <remap from="~global_cloud" to="$(arg point_cloud)"/>

        <param name="map/x_size"     value="$(arg map_size_x)" />
        <param name="map/y_size"     value="$(arg map_size_y)" />
        <param name="map/z_size"     value="$(arg map_size_z)" />
        <param name="map/x_origin"   value="$(arg map_x_origin)"/>
        <param name="map/y_origin"   value="$(arg map_y_origin)"/>
        <param name="map/z_origin"   value="$(arg map_z_origin)"/>

        <param name="map/resolution" value="0.1"/>        
        <param name="map/frame_id"     value="$(arg world_frame_id)" />

        <!-- randomly change the map without trigger -->
        <param name="map/auto_change"    value="false"/>

        <!-- total obstacle ratios -->
        <param name="params/cylinder_ratio" value="0.02" type="double"/>
        <param name="params/circle_ratio"   value="0.02" type="double"/>
        <param name="params/gate_ratio"     value="0.02" type="double"/>
        <param name="params/ellip_ratio"    value="0.02" type="double"/>
        <param name="params/poly_ratio"     value="0.02" type="double"/>

        <param name="params/w1" value="0.1"/>
        <param name="params/w2" value="0.6"/>          
        <param name="params/w3" value="1.2"/>
        <param name="params/w4" value="2.0"/>
        
        <!-- add gaussion noise with param/w1 range on it -->
        <param name="params/add_noise" value="false"/>
        <param name="params/seed" value="35.8"/>

        <!-- to generate map dataset in this folder -->
        <param name="dataset/save_map"    value="true"/>
        <param name="dataset/samples_num" value="100"/>
        <param name="dataset/start_index" value="5080900"/>
        <param name="dataset/path"        value="$(find param_env)/dataset/"/>

      </node>

    </group>

    <!-- file map -->
    <group if="$(arg file_map)">
      <node pkg ="param_env" name ="read_grid_map" type ="read_grid_map" output = "screen">    
        <!-- this is the map init position, not the odom-->
        <remap from="~global_gridmap" to="$(arg point_cloud)"/>

        <param name="map/x_size"     value="$(arg map_size_x)" />
        <param name="map/y_size"     value="$(arg map_size_y)" />
        <param name="map/z_size"     value="$(arg map_size_z)" />
        <param name="map/x_origin"   value="$(arg map_x_origin)"/>
        <param name="map/y_origin"   value="$(arg map_y_origin)"/>
        <param name="map/z_origin"   value="$(arg map_z_origin)"/>

        <param name="map/resolution"    value="0.1"/>        
        <param name="map/frame_id"      value="$(arg world_frame_id)" />
        <param name="map/inflate_radius" value="0.2"/> <!-- 0.3 m-->

        <!-- randomly change the map without trigger -->
        <param name="map/auto_change"    value="false"/>

        <!-- another topic to publish point with inflation-->
        <param name="map/publish_grid_centers"  value="true"/>

        <!-- map mode 
              0 randomly generate
              1 read the image
              2 read the ros bag poind cloud 1
              3 read the ros bag poind cloud 2
              4 read pcd file -->
        <param name="map/mode"       value="1" />

        <param name="folder_path" value="$(find param_env)/data/img/maze/"/>
        <param name="use_folfer"  value="true"/>

        <!-- mode 1 eg -->
        <param name="file_path" value="$(find param_env)/data/img/maze/maze8.png"/>
        <param name="img/occ_th" value="0.6"/>

      </node>
    </group>


    <!-- vicon map generator -->
    <group if="$(arg vicon_map)">
      <include file="$(find vicon_env)/launch/vicon_map.launch">
        <arg name="map_frame_id" value="$(arg world_frame_id)"/>
      </include>
    </group>


  <group if="$(arg viz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_plan_launch)/rviz/run_in_sim.rviz -f map" respawn="false" output="screen">
    </node>
  </group>



</launch>
