<launch>
  <arg name="mav_name" default="quadrotor"/>
  <arg name="mav_id" default="1"/>
  <arg name="mav_type" default="hummingbird"/>
  <arg name="world_frame_id" default="map"/>
  <arg name="sim" default="1"/>
  <arg name="vicon" default="1"/>
  <arg name="vicon_fps" default="100"/>
  <arg name="slow_baud_rate" default="true"/>
  <arg name="mass" default="0.5"/>
  <arg name="nodelet_manager_name" default="nodelet_manager_control"/>
  <arg name="odom_topic" default="/$(arg mav_name)/odom"/>

  <arg name="random_map" default="true"/>
  <arg name="vicon_map" default="false"/>


  <arg name="initial_position/x" default="0.0"/>
  <arg name="initial_position/y" default="1.0"/>
  <arg name="initial_position/z" default="0.0"/>

  <arg name="color/r" default="0.0"/>
  <arg name="color/g" default="0.0"/>
  <arg name="color/b" default="1.0"/>
  <arg name="color/a" default="0.7"/>


  <arg name="mapper_config" default="$(find map_plan_launch)/config/mapper.yaml"/>
  <arg name="planner_config" default="$(find control_launch)/config/tracker_params_mp.yaml"/>
  <arg name="viz" default="true"/>



  <!-- Control stuff -->
  <include file="$(find kr_mav_launch)/launch/example_control.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    <arg name="mass" value="$(arg mass)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="mav_type" value="$(arg mav_type)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>


  <group ns="$(arg mav_name)">

    <!-- Simulator -->
    <include file="$(find kr_mav_launch)/launch/sim.launch" if="$(arg sim)">
      <arg name="mav_name" value="$(arg mav_name)"/>
      <arg name="mav_type" value="$(arg mav_type)"/>
      <arg name="mass" value="$(arg mass)"/>
      <arg name="world_frame_id" value="$(arg world_frame_id)"/>
      <arg name="initial_position/x" value="$(arg initial_position/x)"/>
      <arg name="initial_position/y" value="$(arg initial_position/y)"/>
      <arg name="initial_position/z" value="$(arg initial_position/z)"/>
      <arg name="color/r" value="$(arg color/r)"/>
      <arg name="color/g" value="$(arg color/g)"/>
      <arg name="color/b" value="$(arg color/b)"/>
      <arg name="color/a" value="$(arg color/a)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <!-- Serial communication for real robot -->
    <include file="$(find kr_mav_launch)/launch/asctec_comms.launch" unless="$(arg sim)">
      <arg name="device" value="/dev/ttyUSB0"/>
      <arg name="slow_baud_rate" value="$(arg slow_baud_rate)"/>
      <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    </include>
  
  </group>

    <include file="$(find map_plan_launch)/launch/mapper.launch">
        <arg name="odom_frame" value="$(arg world_frame_id)"/>
        <arg name="map_frame" value="$(arg world_frame_id)"/>
        <arg name="mapper_config" value="$(arg mapper_config)"/>

        <arg name="cloud" value="/global_cloud"/>
    </include>

    <node pkg="action_planner"
      type="local_plan_server"
      name="local_plan_server"
      output="screen"
      respawn="true">
      <rosparam file="$(arg planner_config)"/>
      <remap from="~local_voxel_map" to="mapper/local_voxel_map"/>
      <remap from="~local_noinfla_voxel_map" to="mapper/local_voxel_no_inflation_map"/>
      <rosparam file="$(find gcopter)/config/global_planning.yaml" command="load" />

      <remap from="~tracker_cmd"   to="/$(arg mav_name)/trackers_manager/poly_tracker/PolyTracker/goal"/>
      <param name="poly_srv_name"  value="/$(arg mav_name)/mav_services/poly_tracker"/>


    </node>


    <!-- Random map generator -->
    <group if="$(arg random_map)">
      <include file="$(find map_generator)/launch/random_map.launch">
        <arg name="map_frame_id" value="$(arg world_frame_id)"/>
        <arg name="c_num" value="2"/>
        <arg name="p_num" value="15"/>
        <arg name="b_num" value="10.0"/>
        <arg name="init_state_x" default="$(arg initial_position/x)"/>
        <arg name="init_state_y" default="$(arg initial_position/y)"/>


        
      </include>
    </group>


    <!-- vicon map generator -->
    <group if="$(arg vicon_map)">
      <include file="$(find map_generator)/launch/vicon_map.launch">
        <arg name="map_frame_id" value="$(arg world_frame_id)"/>
      </include>
    </group>

    <!-- <include file="$(find kr_planning_msgs_utils)/launch/image_to_map.launch">
    </include>
 -->

  <!-- <arg name="global_map_topic" default="/global_cloud"/>
  <arg name="global_semantics_topic" default="/global_semantics"/>
 -->




  <group if="$(arg viz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_plan_launch)/rviz/run_in_sim.rviz -f map" respawn="false" output="screen">
    </node>
  </group>



</launch>
