<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- use nice to set low priority for planner -->
  <arg name="prefix" value="nice -n 1"/>
  <arg name="odom" default="odom"/>
  <arg name="use_lauras" default="false"/>

  <node pkg="action_planner" type="global_plan_server" name="global_plan_server" output="screen" launch-prefix="$(arg prefix)">
    <remap from="~odom" to="$(arg odom)"/>
    <remap from="~global_voxel_map" to="mapper/global_voxel_map"/>
  </node>

  <!-- If NOT use laura's planner, launch local motion primtive planner. Otherwise, launch laura's planner in a separate file -->
  <group unless="$(arg use_lauras)">
    <node pkg="action_planner" type="local_plan_server" name="local_plan_server" output="screen" launch-prefix="$(arg prefix)">
      <rosparam file="$(find control_launch)/config/tracker_params_mp.yaml"/>
      <remap from="~local_voxel_map" to="mapper/local_voxel_map"/>
    </node>
  </group>
</launch>
