<launch>
  <!-- Common Interface -->
  <arg name="device"/>
  <arg name="rate" default="7.5"/>

  <!-- Camera Settings -->
  <arg name="serial" default="$(arg device)"/>
  <arg name="camera_name" default="pg_$(arg serial)"/>
  <arg name="camera" default="$(arg camera_name)"/>
  <arg name="frame_id" default="$(arg camera)"/>
  <arg name="calib_url" default="file://${ROS_HOME}/camera_info/$(arg camera_name).yaml"/>
  <arg name="fps" default="$(arg rate)"/>

  <arg name="width" default="0"/>
  <arg name="height" default="0"/>
  <arg name="video_mode" default="23"/>
  <arg name="pixel_format" default="22"/>
  <arg name="exposure" default="true"/>
  <arg name="auto_exposure" default="true"/>
  <arg name="auto_shutter" default="true"/>
  <arg name="shutter_ms" default="10.0"/>
  <arg name="auto_gain" default="true"/>
  <arg name="gain_db" default="0.0"/>
  <arg name="trigger_source" default="-1"/>
  <arg name="trigger_polarity" default="0"/>
  <arg name="strobe_control" default="-1"/>
  <arg name="strobe_polarity" default="0"/>
  <arg name="white_balance" default="true"/>
  <arg name="auto_white_balance" default="false"/>

  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="proc" default="false"/>
  <arg name="view" default="false"/>
  <arg name="image" default="image_raw"/>
  <arg name="calib" default="false"/>

  <!-- Node -->
  <node pkg="flea3" type="flea3_single_node" name="$(arg camera)" output="$(arg output)">
    <param name="identifier" type="string" value="$(arg serial)"/>
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="camera_name" type="string" value="$(arg camera_name)"/>
    <param name="calib_url" type="string" value="$(arg calib_url)"/>

    <param name="fps" type="double" value="$(arg fps)"/>
    <param name="video_mode" type="int" value="$(arg video_mode)"/>
    <param name="pixel_format" type="int" value="$(arg pixel_format)"/>
    <param name="exposure" type="bool" value="$(arg exposure)"/>
    <param name="auto_exposure" type="bool" value="$(arg auto_exposure)"/>
    <param name="auto_shutter" type="bool" value="$(arg auto_shutter)"/>
    <param name="shutter_ms" type="double" value="$(arg shutter_ms)"/>
    <param name="auto_gain" type="bool" value="$(arg auto_gain)"/>
    <param name="gain_db" type="double" value="$(arg gain_db)"/>
    <param name="trigger_source" type="int" value="$(arg trigger_source)"/>
    <param name="trigger_polarity" type="int" value="$(arg trigger_polarity)"/>
    <param name="strobe_control" type="int" value="$(arg strobe_control)"/>
    <param name="strobe_polarity" type="int" value="$(arg strobe_polarity)"/>
    <param name="white_balance" type="bool" value="$(arg white_balance)"/>
    <param name="auto_white_balance" type="bool" value="$(arg auto_white_balance)"/>
    <param name="width" type="int" value="$(arg width)"/>
    <param name="height" type="int" value="$(arg height)"/>
    <param name="white_balance" type="bool" value="$(arg white_balance)" />
    <param name="auto_white_balance" type="bool" value="$(arg auto_white_balance)" />
  </node>

  <!-- Extras -->
  <include file="$(find camera_base)/launch/extras.launch">
    <arg name="camera" value="$(arg camera)"/>
    <arg name="proc" value="$(arg proc)"/>
    <arg name="view" value="$(arg view)"/>
    <arg name="image" value="$(arg image)"/>
  </include>

  <!-- Calib -->
  <group if="$(arg calib)">
    <arg name="pattern" default="chessboard"/>
    <arg name="size"/>
    <arg name="square"/>
    <arg name="num_dist_coeff" default="2"/>
    <node pkg="camera_calibration" type="cameracalibrator.py"
      name="calibrator" output="screen"
      args="-p $(arg pattern) -s $(arg size) -q $(arg square)
            -k $(arg num_dist_coeff)
            image:=/$(arg camera)/image_raw camera:=/$(arg camera)">
    </node>
  </group>
</launch>
